@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
}

body.overflow-hidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.my-blur {
    background: rgba(14, 14, 14, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}